/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #061379;
  }
  
  nav {
    background-color: hsl(210, 89%, 54%);
    color: #15cce0;
  }
  
  nav ul {
    list-style: none;
    margin: 1%;
    padding: 0;
    color: azure;
  }
  
  nav li {
    display: inline-block;
    margin: 1%;
    color: azure;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: azure;
  }
  
  nav a:hover {
    background-color: #211bd1;
    color: azure;
  }
  
  /* Page-Specific Styles */
  h1 {
    margin-top: 40px;
    margin-left: 50px;
    color: azure;
  }

  h2 {
    margin-left: 50px;
    color: azure;
  }

  label {
    margin-left: 50px;
    color: azure;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-left: 50px;
    color: azure;
  }
  
  ul {
    margin: 1%;
    padding: 0;
    color: azure;
  }
  
  li {
    list-style: none;
    margin-bottom: 10px;
    color: azure;
  }
  
  li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #2e11bf;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  li a:hover {
    background-color: #130ce4;
    color: azure;
  }
  
  p a{
    background: #810cf6;
    padding: 10px 18px;
    font-weight: bold;
    color: azure;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}